<div class="container">
  <div class="row list-inline">
    <div class="col-xs-12 col-sm-12 col-sm-offset-1">
      <%= simple_form_for(@restaurant) do |f| %>
        <%= f.error_notification %>

        <%= f.input_field :name, placeholder: 'Name' %>
        <%= f.input_field :address, placeholder: 'Address'%>
        <%= f.input_field :phone_number, placeholder: 'Phone' %>
        <%= f.input_field :category, placeholder: 'Type of cuisine' %>

        <%= f.submit submit_html: { class: 'btn btn-danger' } %>

      <% end %>
    </div>
      <%= link_to "Back", restaurants_path %>
  </div>
</div>







